////
/// @group 11-accessibility
////

/// Visually hides an element while it remains visible to e.g. screen readers.
/// @example
/// .element {
///     @include scss-utilities.visually-hidden();
/// }
@mixin visually-hidden() {
    clip: rect(0 0 0 0);
    clip: {
        path: inset(50%);
    }
    height: 1px;
    overflow: hidden;
    position: absolute;
    white: {
        space: nowrap;
    }
    width: 1px;
}
