////
/// @group 08-aspect-ratio
////
@use "config";

/// Sizes a container to the given aspect ratio.
/// @param {Number} $aspect-ratio [config.get("aspect-ratio")] - Aspect ratio in the format **width/height**
/// @param {Boolean} $stretch [false] - Should the container's content be stretched to the full height and width?
/// @example
/// .container {
///     @include scss-utilities.aspect-ratio(math.div(4, 3), true);
/// }
@mixin aspect-ratio($aspect-ratio: config.get("aspect-ratio"), $stretch: false) {
    @warn "The aspect-ratio() mixin is deprecated. Use the native aspect-ratio property instead.";
    &::before {
        content: "";
        display: block;
        height: 0;
        padding: {
            bottom: calc(100% / #{$aspect-ratio});
        }
    }
    @if $stretch {
        position: relative;
        > :first-child {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object: {
                fit: cover;
            }
        }
    } @else {
        display: flow-root;
        &::before {
            float: left;
        }
    }
}
