////
/// @group 04-breakpoint
////
@use "sass:map";
@use "sass:meta";
@use "sass:list";
@use "sass:math";
@use "sass:string";
@use "units";
@use "config";

/// Wraps the given content in a **min/max-width/height** media query. Breakpoints can be selected from a stored map or passed as custom values.
/// @param {String | Number} $breakpoint - Key of the $breakpoints map or custom value
/// @param {String} $minmax ["min"] - Should a min- or max-width media query be generated?
/// @param {String} $feature ["width"] - Should a width or height media query be generated?
/// @param {Map} $breakpoints [config.get("breakpoints")] - Map that the first parameter accesses
/// @example scss
/// .element {
///     grid-column-end: -1;
///     @include scss-utilities.breakpoint("large") {
///         grid-column-end: span 3;
///     }
/// }
/// @example scss - Custom min-height media query
/// .top-bar {
///     @include scss-utilities.breakpoint(700px, $feature: "height") {
///         position: sticky;
///     }
/// }
/// @example scss - Max-width media query with a different breakpoints map
/// .hamburger-menu-toggle {
///     display: none;
///     @include scss-utilities.breakpoint("medium", $minmax: "max", $breakpoints: foundation.breakpoints) {
///         display: block;
///     }
/// }
@mixin breakpoint($breakpoint, $minmax: "min", $feature: "width", $breakpoints: config.get("breakpoints")) {
    $breakpoint-value: -convert-value($breakpoint, $breakpoints);
    $minmax-value: -validate-minmax($minmax);
    $feature-value: -validate-feature($feature);

    @if -is-named-breakpoint($breakpoint, $breakpoints) and $minmax-value == "max" {
        $breakpoint-value: -prevent-collision($breakpoint-value);
    }

    @media screen and (#{$minmax-value}-#{$feature-value}: #{$breakpoint-value}) {
        @content;
    }
}

/// Wraps the given content in a **from-to** media query. Breakpoints can be selected from a stored map or passed as custom values.
/// @param {String | Number} $breakpoint-from - Key or value marking **from when** the styles apply
/// @param {String | Number} $breakpoint-to - Key or value marking **until when** the styles apply
/// @param {String} $feature ["width"] - Should a width or height media query be generated?
/// @param {Map} $breakpoints [config.get("breakpoints")] - Map that the first two parameters access
/// @example scss
/// .element {
///     @include scss-utilities.breakpoint-between("medium", "xlarge") {
///         text-align: center;
///     }
/// }
@mixin breakpoint-between($breakpoint-from, $breakpoint-to, $feature: "width", $breakpoints: config.get("breakpoints")) {
    $breakpoint-from-value: -convert-value($breakpoint-from, $breakpoints);
    $breakpoint-to-value: -convert-value($breakpoint-to, $breakpoints);
    $feature-value: -validate-feature($feature);

    @if math.compatible($breakpoint-from-value, $breakpoint-to-value) {
        @if $breakpoint-from-value > $breakpoint-to-value {
            @error meta.inspect($breakpoint-from) + " is greater than " + meta.inspect($breakpoint-to) + ".";
        }
    }

    $breakpoint-to-value: -prevent-collision($breakpoint-to-value);

    @media screen and (min-#{$feature-value}: #{$breakpoint-from-value}) and (max-#{$feature-value}: #{$breakpoint-to-value}) {
        @content;
    }
}

/// Wraps the given content in an **orientation** (portrait/landscape) media query.
/// @param {String} $orientation - Orientation of the output medium
/// @example scss
/// img {
///     @include scss-utilities.breakpoint-orientation("portrait") {
///         aspect-ratio: 1 / 1;
///     }
///     @include scss-utilities.breakpoint-orientation("landscape") {
///         aspect-ratio: 16 / 9;
///     }
/// }
@mixin breakpoint-orientation($orientation) {
    $valid-orientations: "landscape", "portrait";

    @if not list.index($valid-orientations, $orientation) {
        @warn meta.inspect($orientation) + " was passed to Media Query, which is not supported.";
    }

    @media screen and (orientation: #{$orientation}) {
        @content;
    }
}

/// Wraps the given content in a **min/max-aspect-ratio** media query.
/// @param {Number} $ratio - Aspect ratio in the format **width/height**
/// @param {String} $minmax ["min"] - Should a min- or max-aspect-ratio media query be generated?
/// @example scss
/// html {
///     background-image: url("page-background.png");
///     @include scss-utilities.breakpoint-orientation(16/9) {
///         background-image: url("page-background-16-9.png");
///     }
/// }
@mixin breakpoint-aspect-ratio($ratio, $minmax: "min") {
    @if meta.type-of($ratio) != "number" {
        @error meta.inspect($ratio) + " was passed to Media Query, which is not a number.";
    }

    @media screen and (#{$minmax}-aspect-ratio: #{$ratio}) {
        @content;
    }
}

/// Makes the Sass breakpoints available to JavaScript. **This mixin is usually already included via the global-styles mixin and does not need to be called manually again.**
/// @param {Map} $breakpoints [config.get("breakpoints")] - Map whose breakpoints should be made available to JavaScript
/// @param {String} $pseudo-element ["after"] - Pseudo-element to be used for passing the breakpoints
/// @example scss
/// html {
///     @include scss-utilities.provide-breakpoints-for-js();
/// }
@mixin provide-breakpoints-for-js($breakpoints: config.get("breakpoints"), $pseudo-element: "after") {
    $str: "";

    @each $key, $value in $breakpoints {
        $str: $str + $key + ":" + units.em-calc($value, 16px) + ",";
    }

    $str: string.slice($str, 1, -2);

    &::#{$pseudo-element} {
        display: none;
        content: $str;
    }
}

/// Checks whether the breakpoint belongs to a breakpoints map.
/// @param {String | Number} $breakpoint
/// @param {Map} $breakpoints
/// @return {Boolean}
@function -is-named-breakpoint($breakpoint, $breakpoints) {
    @return map.has-key($breakpoints, $breakpoint);
}

/// Validates that only sensible minmax values are used.
/// @param {String} $minmax
/// @return {String}
@function -validate-minmax($minmax) {
    $valid-minmax: "min", "max";

    @if not list.index($valid-minmax, $minmax) {
        @warn meta.inspect($minmax) + " was passed to Media Query, which is not supported.";
        @return "min";
    }
    @return $minmax;
}

/// Validates that only sensible features are used.
/// @param {String} $feature
/// @return {String}
@function -validate-feature($feature) {
    $valid-features: "width", "height";

    @if not list.index($valid-features, $feature) {
        @warn meta.inspect($feature) + " was passed to Media Query, which is not supported.";
        @return "width";
    }
    @return $feature;
}

/// Converts the given breakpoint into a usable value.
/// @param {String | Number} $breakpoint
/// @param {Map} $breakpoints
/// @return {Number}
@function -convert-value($breakpoint, $breakpoints) {
    $breakpoint-value: $breakpoint;

    @if -is-named-breakpoint($breakpoint, $breakpoints) {
        $value: map.get($breakpoints, $breakpoint);
        $breakpoint-value: units.em-calc($value, 16px);
    }

    @if meta.type-of($breakpoint-value) != "number" {
        @error meta.inspect($breakpoint-value) + " was passed to Media Query, which is not a number.";
    }

    @if math.is-unitless($breakpoint-value) {
        $breakpoint-value: units.em-calc($breakpoint-value, 16px);
    }

    @return $breakpoint-value;
}

/// Prevents a breakpoint from satisfying two conditions at once.
/// @link https://github.com/foundation/foundation-sites/blob/4d1bf0ab5eb1064d2aed4235647fc559a2a18dcc/scss/util/_breakpoint.scss#L113-L116
/// @param {Number} $max-value
/// @return {Number}
@function -prevent-collision($max-value) {
    @return $max-value - units.em-calc(0.2px, 16px);
}
