////
/// @group 10-centering
////

/// Centers an element vertically and horizontally.
/// @param {String | Null} $position [absolute] - Value for the CSS position property
@mixin absolute-center($position: absolute) {
    position: $position;
    inset: {
        block: {
            start: 50%;
        }
        inline: {
            start: 50%;
        }
    }
    translate: -50% -50%;
}

/// Centers an element vertically.
/// @param {String | Null} $position [absolute] - Value for the CSS position property
@mixin vertical-center($position: absolute) {
    position: $position;
    inset: {
        block: {
            start: 50%;
        }
    }
    transform: translateY(-50%);
}

/// Centers an element horizontally.
/// @param {String | Null} $position [absolute] - Value for the CSS position property
@mixin horizontal-center($position: absolute) {
    position: $position;
    inset: {
        inline: {
            start: 50%;
        }
    }
    transform: translateX(-50%);
}
