////
/// @group 99-clearfix
////

/// Hebt den Float im Container auf.
@mixin clearfix() {
    display: flow-root;
    @supports not (display: flow-root) {
        @include -legacy-clearfix();
        display: block;
    }
}

/// Hebt den Float im Container auf.
/// @deprecated
@mixin -legacy-clearfix() {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}