////
/// @group 07-icons
////
@use "config";

/// Generates the @font-face declaration for the icon font.
/// @example scss
///  @include scss-utilities.icon-font-face() {
///     src: url("data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAw...") format("truetype");
/// }
@mixin icon-font-face() {
    @font-face {
        font: {
            family: config.get("icon-font-family");
            display: block;
            style: normal;
            weight: normal;
        }
        @content;
    }
}

/// Adds an icon.
/// @param {String | Null} $name [null] - Name of the icon font variable
/// @param {Boolean} $font-styles [true] - Should the base styles required for the icon font (such as font-family) be included?
/// @example scss
/// .facebook {
///     &::before {
///         @include scss-utilities.icon(icons.$facebook, false);
///     }
/// }
@mixin icon($name: null, $font-styles: true) {
    --icon: "#{$name}";
    @if $font-styles {
        @include icon-font();
    }
    @supports (content: $name / "") {
        --icon: "#{$name}" / "";
    }
    & {
        content: var(--icon);
    }
}

/// Adds the base styles required by the icon font. This mixin is often already included via the **icon** mixin. Please make sure these styles aren't included redundantly.
/// @example scss
/// .social-media-list {
///     li {
///         &::before {
///             @include scss-utilities.icon-font();
///         }
///     }
/// }
@mixin icon-font() {
    font: {
        /* stylelint-disable-next-line declaration-no-important */
        family: config.get("icon-font-family") !important;
        style: normal;
        variant: normal;
        weight: normal;
    }
    speak: none;
    text: {
        transform: none;
    }
    line: {
        height: 1;
    }
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}